.bottom-section {
  margin-top: 6rem;
  padding: 1rem 0;
  background-image: url("../img/NSMV Model V12_7_6 Aft Starboard SunnyMARAD.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  &__text-wrapper {
    width: 70%;
    margin: 2rem auto;
    padding: 1rem 2rem;
    background-color: #fff;

    @media (max-width: 992px) {
      width: 90%;
      padding: 1.5rem;
    }

    @media (max-width: 576px) {
      width: 80%;
    }
  }

  &__title {
    font-family: 'Catamaran', sans-serif;
    font-size: 3.4rem;
    line-height: 3.6rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2rem;
    color: #314894;
    background-color: rgba(255, 255, 255, 0.5);

    @media (max-width: 992px) {
      font-size: 2.8rem;
      line-height: 3.2rem;
      margin-bottom: 0.5rem;
    }

    @media (max-width: 576px) {
      font-size: 2.4rem;
      line-height: 2.6rem;
    }
  }

  &__paragraph {
    text-indent: 2rem;
    text-align: justify;
  }
}