.bottom-section {
  margin-top: 6rem;
  padding: 1rem 0;
  background-image: url("../img/NSMV Model V12_7_6 Aft Starboard SunnyMARAD.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  &__text-wrapper {
    width: 70%;
    margin: 2rem auto;
    padding: 1rem 2rem;
    background-color: #fff;

    @media (max-width: 992px) {
      width: 90%;
    }

    @media (max-width: 576px) {
      width: 80%;
    }
  }

  &__paragraph {
    text-indent: 2rem;
    text-align: justify;
  }
}